<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Room">

        <!-- LoginActivity sebagai entry point -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HomeActivity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- Tambahan activity lain -->
        <activity
            android:name=".AddDataActivity"
            android:exported="false" />
        <activity
            android:name=".EditDataActivity"
            android:exported="false" />
        <activity
            android:name=".DetailDataActivity"
            android:exported="false" />

    </application>

</manifest>
